
/* charte des couleurs du site
#F0F7D4 blanc cream

#B2D732 vert pâle
 
#FE2712 rouge
 
#347B98 bleu pâle
 
#092834 bleu foncé
*/
h1,h2,h3,a,p,ol,ul,table {
    padding: 0%;
}

body {
    color: #FE2712;
    background: black;
    justify-content: center;
    margin-left: 15vw;
    margin-right: 15vw;


}

h1,h2,h3 {
    color: black;
}

h1 {
    font-size: 30px;
}

a {
    color: blue; 
    font-size: 12px;
    text-decoration: none;   
}
a:hover{
    color: fuchsia;
    font-size: 120%;

}
p,form{
    font-family: 'Bubblegum Sans', cursive;
    font-size: 20px;
    color: black;
    
}
li{
    list-style-type: none;
}


section {
    
    align-content: center;
}

iframe, video{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    border: 0;
}






