
header {
     
    position: relative;
    color: white;
    
     
}



.fontmonosmall{
  font-family: monospace;
  font-size: 4px;
  color: white;
}

.bottompad{
  padding-bottom: 40vw;
}



.dashborder {
  border-style: dashed;
  border-width: 2px;
  color: lightgray;
  padding: 1vw;
  margin-top: 1vw;
}
  