/* class pour section Main */

/* Positions */
.flex{
    display: flex;
}
.flexcolumn{
    flex-direction: column;
}
.relative {
    position: relative;
}

.centre {
    align-content: center;
}
.displayinline {
    display: inline-block;
}

.alignselfcentre{
    align-self: center;
}

.justifyCenter{
    justify-content: center;
}

.justifyspacebtw {
    justify-content: space-between;
}

.justifyeven{
    justify-content: space-evenly;
}

.rotate15 {
    transform: rotate(15deg);
}

.rotatemin15 {
    transform: rotate(-15deg);
}

.rotatemin5 {
    transform: rotate(-5deg);
}

.rotate7 {
    transform: rotate(7deg);
}
/* Margins Paddings*/

.marginL1{
    margin-left: 1vw;
}

.marginL2{
    margin-left: 2vw;
}

.marginL3{
    margin-left: 3vw;
}

.marginL4{
    margin-left: 4vw;
}

.marginL5{
    margin-left: 5vw;
}

.marginL6{
    margin-left: 6vw;
}

.marginR1{
    margin-right: 1vw;
}

.marginR2{
    margin-right: 2vw;
}

.marginR3{
    margin-right: 3vw;
}
.margintopdown5vw{
    margin-top: 5vw;
    margin-bottom: 5vw;
}
.margintopdown2vw{
    margin-top: 2vw;
    margin-bottom: 2vw;
}
.margin2vw {
    margin: 2vw;
}
.marginbottom2vw{
    margin-bottom: 2vw;
}

.pad2vw{
    padding: 2vw;
}
.pad1vw{
    padding: 1vw;
}
.pad5vw{
    padding: 5vw;
}

.submitbutton{
    position: absolute;
    bottom: 1vw;
    right: 1vw;
}


/* Couleurs */
.lightgrey {
    color: lightgray;
}
.cyan {
    color: cyan;
}
.blanc{
    color: white;
}
.backcyan{
    
    background-color: cyan;
}
.backskyblue{
    
    background-color:lightskyblue;
}
.backgrey{
    background-color: rgba(75, 74, 74);
}
.backblueviolet{
    background-color: blueviolet;
}

.backblack{
    
    background-color: black;
    padding: 2vw;
}

.backfuschia {
    background-color: fuchsia ;
}

.backyellow{
    background-color:#ffff00;
}
.backmauve{
    background-color:#710bf7;
}

/* Fonts */

.bubblegumFont{
    font-family: 'Bubblegum Sans', cursive;
}

.pressStartFont {
    font-family: 'Press Start 2P', cursive;
    
}
.LuckiestGuy {
    font-family: 'Luckiest Guy', cursive;
    font-size: medium;
}

.fontsizelarger {
    font-size: 25px;
}


.rainbow {
  background-image: -webkit-gradient( linear, left top, right top, color-stop(0, #f22), color-stop(0.15, #f2f), color-stop(0.45, #2ff), color-stop(0.6, #2f2),color-stop(0.75, #2f2), color-stop(0.9, #ff2), color-stop(1, #f22) );
 
  color:transparent;
  -webkit-background-clip: text;
  
  
}


.blink {
    animation: blink 1s step-end infinite;
}

.bolder {
    font-weight: bolder;
}




/* Delimiteur (divider) & Background & Border */

.flechemauve {
    background-image: url(../../assets/images/purple-arrow-right-1.gif);
    height: 1.8vw;
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.backgroundRadios {
    background-image: url(../../assets/images/Background\ Radios.jpg);
    margin-top: 1vw;
    margin-bottom: 1vw;
    opacity: 80%;

}

.backgroundBlanc {
    background-image: url(../../assets/images/Background\ Blanc\ Triangle.jpg);
    margin-top: 1vw;
    margin-bottom: 1vw;
    opacity: 80%;

}
.backgroundDanceFix {
    background-image: url(../../assets/images/eurodance-playlist-TGP\ v2.jpg);
    margin-top: 1vw;
    margin-bottom: 1vw;
    opacity: 100%;
    background-attachment: fixed;
    
}

.backgroundbubblegum {
    background-image: url(../../assets/images/hubbabubbawallpaper.jpg);
    margin-top: 1vw;
    margin-bottom: 1vw;
    opacity: 80%;
}

.border3d {

    border-width:15px;  
    border-style:ridge;
    border-color: #22f;
}

.backgroundyellowwaves {
    background-image: url(../../assets/images/yellow-waves.jpg);
    margin-top: 1vw;
    margin-bottom: 1vw;
    opacity: 90%;
}
.backgroundgalaxie {
    background-image: url(../../assets/images/blue-purple-galaxy-web-res.jpg);
    margin-top: 1vw;
    margin-bottom: 1vw;
    opacity: 100%;
}

.backgroundAqua {
    background-image: url(../../assets/images/aqua.png);
    margin-top: 1vw;
    margin-bottom: 1vw;
    opacity: 100%;
    background-attachment: fixed;

}

.backgroundVenga {
    background-image: url(../../assets/images/vengaboys.jpg);
    margin-top: 1vw;
    margin-bottom: 1vw;
    opacity: 100%;
    background-attachment: fixed;

}

.backgroundrap {
    background-image: url(../../assets/images/rappeurs.jpg);
    margin-top: 1vw;
    margin-bottom: 1vw;
    opacity: 100%;
    background-attachment: fixed;

}

.backgroundscat {
    background-image: url(../../assets/images/scatman.jpg);
    margin-top: 1vw;
    margin-bottom: 1vw;
    opacity: 90%;
}

.backgroundreggae {
    background-image: url(../../assets/images/depositphotos_31240883-stock-photo-background-wood-green-yellow-red.jpg);
    margin-top: 1vw;
    margin-bottom: 1vw;
    opacity: 90%;
}
.backgroundAquaGeo {
    background-image: url(../../assets/images/Background\ aqua\ geometrique.jpg);
    margin-top: 1vw;
    margin-bottom: 1vw;
    opacity: 90%;
}

.backgroundcountry {
    background-image: url(../../assets/images/paille.jpg);
    margin-top: 1vw;
    margin-bottom: 1vw;
    opacity: 100%;
    background-attachment: fixed;

}

/* Tailles Videos et Images */

.gifAnim{

    width: 20vw;
    
    padding-bottom: 75%;
}
.imgLarge {
    padding-bottom: 75%;
}
.vidratio {
    padding-bottom: 56.25%;
}

.h15W15{
    
    width: 15vw;
}
.w25{
    width: 25vw;
}

/* Autres */

.roundborder {
    border: 5px solid red;
    border-radius: 50%;
}
